# Ignore compiled Python files
*.pyc

# Ignore python version files
*.python-version

# Ignore .evn file
.env

# Ignore .vscode folder
.vscode

# Ignore .chroma folder
.chroma

# Ignore .chainlit folder
.chainlit

# Ignore .DS_store file
.DS_store

# Ignore deply env file
fly.toml